*.exe
*.dll
*.nupkg
/.vs
/**/obj
/**/bin
/build/linux-x64
/build/win-64
/build/win64.cuda11_cudnn8_tr7
/build/win64.openblas
/build/win64.mkl
/build/win64.cuda10_cudnn7
/build/win64.cuda11_cudnn8_tr8
*.nuspec
*.props
*.snupkg
/build/download
